html {
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  background: hsl(252, 55%, 13%);
  transition: background 1.5s
}
body {
  margin: 0;
  padding: 6rem 1rem ;
  color: hsl(194, 90%, 69%);
  font-family: "barlow";
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  position: fixed;
  top: 7rem;
  left: calc(25% - 9rem);
  font-size: 1rem;
  text-align: center;
  line-height: 2;

  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;

}
nav .jamie-photo {
  display: block;
  margin-bottom: 1rem;
}
nav a {
  height: 1.7rem;
}
nav hr {
  height: 2rem;
  margin-top: .8rem;
  background: url(images/wave-thick.svg) no-repeat 100%;
  background-size: 100%;
}
ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
#nav {
  display: none;
  -webkit-animation: fadein 7s;
     -moz-animation: fadein 7s;
      -ms-animation: fadein 7s;
       -o-animation: fadein 7s;
          animation: fadein 7s;

}
@media (min-width: 1200px) {
  #nav {
    display: block;
  }
  #inline-photo {
    display: none;
  }
  section {
    transform: translateX(7rem);
  }
  .cta-link {
    display: none;
  }
}
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  height: 2rem;
  border-bottom: 1px dotted;
}
a:hover {
  color: #fff;
  border-color: #fff;
}
.lead-text {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;

  -webkit-animation: fadein 1.5s;
     -moz-animation: fadein 1.5s;
      -ms-animation: fadein 1.5s;
       -o-animation: fadein 1.5s;
          animation: fadein 1.5s;

}
p, h2, h3, hr, img {
  -webkit-animation: fadein 7.5s;
     -moz-animation: fadein 7.5s;
      -ms-animation: fadein 7.5s;
       -o-animation: fadein 7.5s;
          animation: fadein 7.5s;
}
img + p {
  margin-top: 4rem;
}
.summary {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: .5rem;

  -webkit-animation: fadein 4s;
     -moz-animation: fadein 4s;
      -ms-animation: fadein 4s;
       -o-animation: fadein 4s;
          animation: fadein 4s;
}
h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  margin-top: 1.5rem;
}
h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
section {
  flex-grow: 1;
  max-width: 672px;
}
hr {
  border: 0;
  height: 8rem;
  background: url(images/wave-thin.svg) no-repeat 100%;
  background-size: 100%;
  transform: scale(1.02);
}
img {
  margin-top: 2rem;
  width: 100%;
  border-radius: .5rem;
}
.jamie-photo {
  border-radius: 50%;
  width: 9rem;
  margin-bottom: 0;

  -webkit-animation: fadein 1.5s;
     -moz-animation: fadein 1.5s;
      -ms-animation: fadein 1.5s;
       -o-animation: fadein 1.5s;
          animation: fadein 1.5s;
}
.gray-bg {
  background: #ddd;
}
.narrow-img {
  float: left;
  width: 46%;
}
.narrow-img:nth-child(even) {
  margin-right: 8%;
}

@keyframes fadein {
    0%    { opacity: 0; }
    50%   { opacity: 0; }
    100%  { opacity: 1; }
}
@-moz-keyframes fadein {
    0%    { opacity: 0; }
    50%   { opacity: 0; }
    100%  { opacity: 1; }
}
@-webkit-keyframes fadein {
    0%    { opacity: 0; }
    50%   { opacity: 0; }
    100%  { opacity: 1; }
}
@-ms-keyframes fadein {
    0%    { opacity: 0; }
    50%   { opacity: 0; }
    100%  { opacity: 1; }
}
@-o-keyframes fadein {
    0%    { opacity: 0; }
    50%   { opacity: 0; }
    100%  { opacity: 1; }
}
